* {
    scroll-behavior: smooth;
}

body {
    margin: 0px;
}

header {
    min-height: 2vh;
    max-height: 3vh;
    display: flex;
    background-color: #E1F4E5;
    justify-content: space-between;
    padding: 2% 6%;
    align-items: center;
    position: sticky;
    top: 0;
    overflow: visible;
    z-index: 2;
}

header h1 {
    padding-right: 265px;
    font-size: 40px;
}

header img {
    max-width: 4.5vw;
    object-fit: cover;
}

.main {
    display: flex;
    position: fixed;
    top: 10vh;
}

#nav {
    background-color: #05B3AF;
    overflow-x: hidden;
    transition: 0.5s;
    position: relative;
}

.closeNav {
    width: 0px;
}

.openNav {
    width: 70vw;
}

#navLinks {
    display: flex;
    flex-direction: column;
}

#navLinks a {
    padding: 15px;
    color: white;
    text-decoration: none;
    background-color: #05B3AF;
}

#navLinks a:hover {
    background-color: #003D3B;
} 

#contentBox div.content:nth-child(even){
    background: #006967;
}

#contentBox div.content:nth-child(odd){
    background: #B3E4E4;
}

.contentBox {
    position: relative;
    height: 90vh;
    overflow-y: scroll;
    scroll-snap-align: center;
}

.content {
    font-size: 25px;
    padding: 15px 20px 15px 0px;
    display: flex;
}

.content img {
    max-width: 30%;
    margin: 10px 10px 10px 0px;
    border-radius: 0px 50px 50px 0px;

}

.contentText {
    text-align: center;
}

.content p {
    max-height: 500px;
    line-height: 1.8em;
    font-size: 20px;
    background-color: #003D3B;
    color: white;
    padding: 25px;
    border-radius: 50px;
}