* {
    scroll-behavior: smooth;
}

body {
    margin: 0px;
}

header {
    min-height: 2vh;
    max-height: 3vh;
    display: flex;
    background-color: #6cc6be;
    justify-content: space-between;
    padding: 2% 6%;
    align-items: center;
    position: sticky;
    top: 0;
    overflow: visible;
    z-index: 2;
}

header img {
    max-width: 4.5vw;
    object-fit: cover;
}

.main {
    display: flex;
    position: fixed;
    top: 10vh;
}

#nav {
    background-color: grey;
    overflow-x: hidden;
    transition: 0.5s;
    position: relative;
}

.closeNav {
    width: 0px;
}

.openNav {
    width: 35vw;
}

#navLinks {
    display: flex;
    flex-direction: column;
}

#navLinks a {
    padding: 20px;
}

#navLinks a:hover {
    background-color: black;
} 

#contentBox div.content:nth-child(even){
    background: cyan;
}

#contentBox div.content:nth-child(odd){
    background: red;
}

.contentBox {
    position: relative;
    height: 90vh;
    overflow-y: scroll;
    scroll-snap-align: center;
}

.content {
    font-size: 25px;
    padding-top: 7vh;
}

.content img {
    max-width: 30vw;
}

.content p {
    background-color: white;
}