* {
    scroll-behavior: smooth;
}

body {
    margin: 0px;
}

header {
    min-height: 2vh;
    max-height: 3vh;
    display: flex;
    background-color: #6cc6be;
    justify-content: space-between;
    padding: 2% 6%;
    align-items: center;
    position: sticky;
    top: 0;
    overflow: visible;
    z-index: 2;
}

header img {
    max-width: 4.5vw;
    object-fit: cover;
}

.main {
    display: flex;
    position: fixed;
    top: 10vh;
}

#sideNav {
    background-color: black;
    top: 100px;
    overflow-x: hidden;
    transition: 0.5s;
}

.closeNav {
    width: 0px;
}

.openNav {
    width: 35vw;
}

.content {
    position: relative;
    height: 90vh;
    overflow-y: scroll;
}

.content-1 {
    font-size: 25px;
    padding-top: 7vh;
}

.content-1 img {
    max-width: 30vw;
}

.content-1 p {
    background-color: white;
}